* {
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

body{
    background-color: var(--secondary-color);
    /* background: linear-gradient(180deg, #e7e7f1 .62%, rgba(231, 231, 241, 0) 95.76%); */
    color: #333;
    font-family: "Poppins", Times, serif;

}

html{
    font-size: 62.5%;
}

ul{
    list-style-type: none;
}


a{
    text-decoration: none;
}

:root{
    --nav-height: 6.4rem;
    --secondary-color : #ffffff;
    --primary-color : #FFFFFF;
    --letter-color: #012A4A;
    --border-color : rgb(224, 224, 255);
    --grey: #F2F2F2;
    --blue-dark :#3367D1;
    --light-green: #D5F8EF;
     --light-blue: #D8F6FF;
}