* {
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

body{
    background-color: var(--secondary-color);
    /* background: linear-gradient(180deg, #e7e7f1 .62%, rgba(231, 231, 241, 0) 95.76%); */
    color: #333;
    font-family: "Poppins", Times, serif;
    max-width: 100%;
    overflow-x: hidden;

}

html{
    font-size: 62.5%;
    max-width: 100%;
    overflow-x: hidden;
}

ul{
    list-style-type: none;
}


a{
    color: white;
    text-decoration: none;
}

:root{
    --nav-height: 6.4rem;
    --secondary-color : #F4F7FC;
    --primary-color : #FFFFFF;
    --letter-color: #012A4A;
    --border-color : rgb(224, 224, 255);
    --grey: #F2F2F2;
    --blue-dark :#3367D1;
    --light-green: #D5F8EF;
     --light-blue: #D8F6FF;
     --bright-blue: #5DCDF1;
     --yellow-bright: white;
      /* #F9F6F2; */

      /* Project Colors */
      --darkest-blue : #0D1B2A;
      --darker-blue : #1B263B;
      --grey-blue: #415A77;
      --faint-blue: #778DA9;
      --white-blue: #E0E1DD;
}

@media (max-width: 1000px) {
    html{
    font-size: 50%;
}

}