.about-heading{
    text-align: center;
    width: 100%;
    font-size:6rem;
    margin-bottom: 2rem;
}

.about {
    display: flex;
    height: 60rem;
}

.about-image{
    flex-basis: 35%;
    flex-grow: 0;
    display: flex;
    align-items: end;
    justify-content: center;
    margin-left: 4rem;

}



.about-image img{
    width: 30rem;
    border-radius: 2rem;
}

.about-content{
    flex-basis: 65%;
}

.skill-cards {

    display: flex;
    gap:2rem;
    margin-top: 6rem;
    justify-content: space-between;
}

.skill-card {

    border: 1px solid rgb(194, 194, 194);
    width: 20rem;
    height: 20rem;
    border-radius: 2rem;
    padding: 1rem 1rem;
    transition: all 0.5s;
}

.skill-card p{
    font-size: 1.5rem;
    margin-top: 2rem;
}

.skill-card h4{
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 2rem;

}
.skill-card i{
    margin-top: 2rem;
    font-size: 3rem;
}

.skill-card:hover {
    scale: 1.05;
    transform: rotate(-1deg);
    background-color: var(--light-blue);
    box-shadow: 1px 1px 5px var(--letter-color);
}

.tools-heading {
    margin-top: 4rem;
}

.about-tools {
    display: flex;
    gap:2rem;
    margin-top: 4rem;
}

.about-tools .about-tool{
    width: 5rem;
    height: 5rem;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(194, 194, 194);
    transition: 1s;
}

.about-tools .about-tool:hover{
    transform: translateY(-2px);

}

.about-tool img{
    width: 3rem;
    height: 3rem;
}