.about-heading{
    text-align: center;
    width: 100%;
    font-size:6rem;
    margin-bottom: 2rem;
}

.about {
    display: flex;
    gap: 5rem;
    height: 150rem;
}

.about-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6 , 1fr);
    gap: 6rem;

}

.grid-1{
    grid-row: 1/2;
    grid-column: 1/2;
}

.grid-2{
    grid-row: 1 /  3;
    grid-column: 2 / 3;
}

.grid-3{
    grid-row: 2/ 4;
    grid-column: 1/ 2;
}
.grid-4{
    grid-row: 3/ 5;
    grid-column: 2 / 3;
}

.grid-5{
    grid-row: 4/ 6;
    grid-column: 1 / 2;
}

.grid-6{
    grid-row: 5/ 7;
    grid-column: 2 / 3;
}

.image-card {
    overflow: hidden;
    background-color: var(--yellow-bright);
    display: flex;
    align-items: center;
    justify-content: center;
}


.image-card img{
    width: 40rem;
}

.about-content{
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 5rem;
}

.skill-card {
    background-color: #F9F6F2;
    border-radius: 2rem;
    min-height: 50rem;
    padding: 10rem 5rem;
    transition: all 100ms;
}

.skill-card p{
    font-size: 2rem;
    margin-top: 2rem;
    font-weight: 600;
}

.skill-card h4{
    font-size: 4rem;
    font-weight: 1000;
    margin-top: 2rem;

}
.skill-card i{
    margin-top: 2rem;
    font-size: 5rem;
}

.skill-card:hover,.image-card:hover {
    scale: 1.05;
    transform: rotate(-1deg);
    background-color: var(--bright-blue);
    box-shadow: 1px 1px 5px var(--letter-color);
}

.tools-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F4F7FC;
    margin-top: 20rem;
}

.tools-heading {
    margin-top: 4rem;
}

.about-tools {
    display: flex;
    gap:2rem;
    margin-top: 10rem;
    margin-bottom: 10rem;
}

.about-tools .about-tool{
    width: 10rem;
    height: 10rem;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    transition: 1s;
}

.about-tools .about-tool:hover{
    transform: translateY(-2px);

}

.about-tool img{
    width: 3rem;
    height: 3rem;
}

/* MEDIA QUERIES */

@media (max-width: 1000px) {
    .skill-card {
    min-height: 40rem;
    width: 85%;
    overflow: hidden;
    }
}



@media ( max-width: 500px),(max-width: 801px) {
    .about-grid{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    }

    .skill-card {
    background-color: var(--bright-blue);
    min-height: 50rem;
    width: 80%;
    box-shadow: 1px 1px 5px var(--letter-color);
    }

    .about {
    height: 260rem;
    }

    .image-card {
    background-color: var(--bright-blue);
    box-shadow: 1px 1px 5px var(--letter-color);
    }

    .about-tools{
    flex-direction: column;

    }

    .about-tool{
    width: 50rem;
    height: 50rem;
    }

}