.about-heading{
    text-align: center;
    width: 100%;
    font-size:6rem;
    margin-bottom: 2rem;
}

.about {
    display: flex;
    gap: 5rem;
    height: 150rem;
}

.about-image{
    flex-basis: 50%;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    align-items: stretch;
    justify-content: start;
    margin-left: 4rem;

}

.image-card {
    overflow: hidden;
    background-color: var(--yellow-bright);
    display: flex;
    align-items: center;
    justify-content: center;
}


.image-card img{
    width: 40rem;

    
}

.about-content{
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 5rem;
}

.skill-card {
    background-color: #F9F6F2;
    border-radius: 2rem;
    min-height: 50rem;
    padding: 10rem 5rem;
    transition: all 100ms;
}

.skill-card p{
    font-size: 2rem;
    margin-top: 2rem;
    font-weight: 600;
}

.skill-card h4{
    font-size: 4rem;
    font-weight: 1000;
    margin-top: 2rem;

}
.skill-card i{
    margin-top: 2rem;
    font-size: 5rem;
}

.skill-card:hover,.image-card:hover {
    scale: 1.05;
    transform: rotate(-1deg);
    background-color: var(--bright-blue);
    box-shadow: 1px 1px 5px var(--letter-color);
}

.tools-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F4F7FC;
    margin-top: 20rem;
}

.tools-heading {
    margin-top: 4rem;
}

.about-tools {
    display: flex;
    gap:2rem;
    margin-top: 10rem;
    margin-bottom: 10rem;
}

.about-tools .about-tool{
    width: 10rem;
    height: 10rem;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    transition: 1s;
}

.about-tools .about-tool:hover{
    transform: translateY(-2px);

}

.about-tool img{
    width: 3rem;
    height: 3rem;
}