.difference-card{
    width: 100%;
    height: 60rem;
    display: flex;
    justify-content: space-between;
    background-color: var(--darker-blue);
    border-radius: 2.5rem;
    position: relative;
}

.difference-top {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
    background-color: var(--darkest-blue);
    top: -20px;
    left: 50%;
    width: 15rem;
    height: 5rem;
    border-radius: 30%;
    transform: translate(-50%);
}

.difference-top li{
    border-radius: 5px solid black;
    background-color: red;
    padding: 0.3rem;
    border-radius: 10%;
    cursor: pointer;
}

.difference-top li:hover {
    scale: 1.5;
}

.difference-container{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.difference-content{
    display: flex;
    justify-content: space-around;
    width: 90%;
}

.difference-content ul{
    list-style-type: circle;
}

.difference-content-left,.difference-content-right {
    width: 50rem;
}
