.project-content-description {
    width: 100%;
}

@media ( max-width: 500px),(max-width: 801px) {
    .project-content-heading,.project-content-description {
        width: 900%;
        margin-left: 4rem;
    }
}