.project-image-card{
    width: 100%;
    height: 60rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--darker-blue);
    border-radius: 2.5rem;
}

.project-image-card img {
    width: 80%;
    height: 75%;
}

.project-image-card input {
    width: 78rem;
    margin-bottom: 2rem;
}

@media ( max-width: 500px),(max-width: 801px) {
    .project-image-card img {
        width: 100%;
        height: 70%;
    }
}