.sliding-curve{
    display: flex;
    width: 200vw;
    height: 100vh;
    animation: slidein 3s ease-in-out forwards;
}
@keyframes slidein {
    from{

    }
    to{
        transform: translateX(-100vw);
    }
    
}
.main-intial-show{
    width: 100vw;
    height: 768px;
    position: relative;
    background-color: var(--darker-blue);
}

.sliding-curve-show {
    width: 100vw;
    height: 768px;
    background-image: url("../../images/masking-project.png");
    background-repeat: no-repeat;
    background-size: 50% 100vh;
}   

.project-menu{
    display: flex;
    justify-content: end;
    gap: 3rem;
    margin: 3rem;
    font-size: 1rem;
    letter-spacing: 2px;
    color: var(--white-blue);
}

.project-menu li{
    cursor: pointer;
}

.project-content{
    display: flex;
    justify-content: space-between;
    margin-top: 10rem;
    
}

.project-content-description{
    color: var(--white-blue);
    font-size: 1.3rem;
    letter-spacing: 2px;
    margin-bottom: 5rem;
    width: 60%;
}

.project-content img{
    width: 45rem;
    height: 36rem;
}

.appear{
    opacity: 0;
    animation: appear 1s ease-in-out 3s  forwards;
}

@keyframes appear {
    from{}
    to{ opacity: 1;}   
}

.project-titles{
    display: flex;
    flex-direction: column;
}