.project-baground{
    background-color: #F4F7FC;
}
.projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 74rem;
    
}

.project-main-box{
    display: flex;
    flex-direction: column;
    background-color: var(--yellow-bright);

}

.project-name,.project-description{
    display: flex;
    padding: 2rem 0;
    border-bottom: 1px solid #CFD3D6;
    align-items: center;
    justify-content: center;
    gap:2rem;
}

.project-carousal{
    display: flex;
    width: 70rem;
    height: 40rem;
    margin: 5rem 0;
    background-color: var(--grey);
    transition: all 1s;
}

.project-carousal:hover{
    transform: scale(1.04);
}

.project-carousal-images{
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.project-carousal-images img{
    transition: all 1s;
}
.project-card {
    flex-grow: 0;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
}

.c-button{
    background-color: var(--yellow-bright);
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 2.5rem;
    transition: 500ms ease-in-out;

}

.c-button:hover{
    font-size: 5rem;
    border: 1px solid #CFD3D6;
}

.coursal-dots {
    position: absolute;
    display: flex;
    gap: 1rem;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
}

.coursal-dots i {
    color: white;
    font-size: 2rem;
    cursor: pointer;
    transition: scale 100ms;
}

.coursal-dots i:hover {
    transform: scale(1.1);
}


 /* MDIA QUERIES */

 @media (max-width: 1000px) {
}

@media ( max-width: 801px) {
    .project-carousal{
        width: 62rem;
        height:35rem;
    }
    .contact-view{
        display: none;
    }
}

@media ( max-width: 500px) {
    .project-carousal{
        width: 45rem;
        height:25rem;
    }
    .contact-view{
        display: none;
    }
}