.background{
    background-color: var(--darkest-blue);
    width: 100%;
    position: relative;
    height: 100vh;
}

.editing-tool-box {
    position: absolute;
    width: 200px;
    height: 100px;
    border-radius: 10px;
    overflow: hidden;
    z-index: 1000;
}

.dragable-bar{
    width: 100%;
    height: 20%;
    background-color: white;
    display: flex;
    justify-content: end;
    align-items: center;
}

.edit-content{
    width: 100%;
    height: 80%;
    background-color: black;
}

.edit-close{
    font-size: 10px;
    color: red;
    cursor: pointer;
}