.background{
    background-color: var(--darkest-blue);
    width: 100%;
    position: relative;
    height: 100vh;
}

.editing-tool-box {
    position: absolute;
    left: 0;
    width: 200px;
    height: 100px;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid black;
    z-index: 1000;
}

.dragable-bar{
    width: 100%;
    height: 20%;
    background-color: var(--darker-blue);
    display: flex;
    justify-content: end;
    align-items: center;
    border-bottom: 1px solid black;
}

.edit-content{
    width: 100%;
    height: 80%;
    background-color: var(--darker-blue);
}

.edit-close{
    font-size: 10px;
    color: var(--darkest-blue);
    cursor: pointer;
}

.edit-menu{
    background-color: var(--darker-blue);
    display: flex;
    justify-content: space-around;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
    border: 1px solid black;
    border-radius: 0.5rem;

}

.menu-item{
   padding: 1rem 1rem;
   color: white;
   cursor: pointer;
   background-color: red;
   position: relative;
   
}

.edit-insert-menu{
    background-color: red;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: -9rem;
    left: -0.5rem;
    animation: slideup 200ms ease-out forwards;
}
.edit-insert-menu li{
        border-bottom: 1px solid black;
        padding: 0.5rem 1rem;
}

.edit-insert-menu li:hover{
    background-color: black;
}

.menu-item-saved-m {
    padding: 1rem;
    text-align: center;
    background-color: green;
     position: absolute;
    top: -6rem;
    left: -0.5rem;
}

@keyframes slideup {
    from{
        opacity: 50%;
        transform: translateY(20px);
    } 
    top
    {
        opacity: 100%;
        transform: translateY(0);
    }
}