.container {
    max-width: 120rem;
    margin: 0 auto;
}

.btn {
    padding: 1rem 2rem;
    font-size: 1.5rem;
    width: 15rem;
    background-color: var(--grey);
    border-radius: 1rem;
    text-align: center;
    cursor: pointer;
}

.btn-primary{
    color : var(--letter-color);
    background-color: var(--yellow-bright);
    border: 1px solid var(--yellow-bright);
    transition: all 200ms;
}

.btn-primary:hover{
    background-color: var(--bright-blue);
    scale: 1.04;
    transform: rotate(2deg);
}

.btn-secondary{
    color : var(var(--letter-color));
    background-color: white;
    border: 1px solid var(--bright-blue);
    transition: all 200ms;
    
}

.btn-secondary:hover{
    background-color: rgb(248, 248, 248);
    scale: 1.1;
}

.btn-project-dark{
    background-color: var(--darkest-blue);
    box-shadow: -14px 15px 27px 0px var(--darkest-blue);
    color: var(--white-blue);
    transition: 200ms ease-in-out;
}

.btn-project-dark:hover{
    box-shadow: -14px 15px 0px 0px var(--darkest-blue);
}


p{
    color: var(--letter-color);
    font-size: 2rem;
    text-align: left;
    line-height: 1.5;
    letter-spacing: -1px;
}

h2{
    font-size: 6rem;
}

h3{
    font-size: 1.5rem;
}