.container {
    max-width: 120rem;
    margin: 0 auto;
}

.btn {
    padding: 1rem 2rem;
    font-size: 1.5rem;
    width: 15rem;
    background-color: var(--grey);
    border-radius: 1rem;
    cursor: pointer;
}

.btn-primary{
    color : white;
    background-color: #007BFF;
    border: 1px solid #007BFF;
    transition: all 1s;
}

.btn-primary:hover{
    background-color: #055ebd;
    scale: 1.1;
}

.btn-secondary{
    color : var(var(--letter-color));
    background-color: white;
    border: 1px solid #007BFF;
    transition: all 1s;
    
}

.btn-secondary:hover{
    background-color: rgb(248, 248, 248);
    scale: 1.1;
}

p{
    color: var(--letter-color);
    font-size: 2rem;
    text-align: left;
    line-height: 1.5;
    letter-spacing: -1px;
}